{% extends 'base_profile.html' %}
{% block title %}
    پروفایل کاربری
{% endblock %}
{% block is_dash %}
page-active
{% endblock %}
{% block content %}
            <div class="dashboard-content-wrap">
                <div class="dashboard-menu-toggler btn theme-btn theme-btn-sm lh-28 theme-btn-transparent mb-4 ml-3"><i class="la la-bars mr-1"></i> منو</div>
                <div class="container-fluid">
                    <div class="breadcrumb-content d-flex flex-wrap align-items-center justify-content-between mb-5">
                        <div class="media media-card align-items-center">
                            {% if user.image %}
                            <div class="media-img media--img media-img-md rounded-full">
                                <img class="rounded-full" src="{{ user.image.url }}" alt=" {{ user }}تصویر کوچک دانش آموز">
                            </div>
                            {% endif %}
                            <div class="media-body">
                                <h2 class="section__title fs-30">سلام، {{ user.get_full_name }}</h2>

                                <!-- end rating-wrap -->
                            </div>
                            <!-- end media-body -->
                        </div>
                        <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="file-upload-wrap file-upload-wrap-2 file--upload-wrap">
                            <div class="MultiFile-wrap" id="MultiFile1"></div>
                        </div>
                        <!-- file-upload-wrap -->
                    </div>
                    <!-- end breadcrumb-content -->
                    <div class="section-block mb-5"></div>
                    <div class="dashboard-heading mb-5">
                        <h3 class="fs-22 font-weight-semi-bold">پروفایل من</h3>
                    </div>
                    <div class="card card-item">
                            <div class="card-body">
                                <h3 class="fs-22 font-weight-semi-bold pb-2">تغییر اطلاعات کاربری</h3>
                                <div class="divider"><span></span></div>
                                <div  class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form.first_name }}
                                        </div>
                                    </div>
                                    <!-- end col-lg-4 -->
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form.last_name }}
                                        </div>
                                    </div>
                                    <!-- end col-lg-4 -->

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <!-- end col-lg-4 -->
                                </div>
                                <div class="course-submit-btn-box pb-4">
                            <button class="btn theme-btn" type="submit">ویرایش اطلاعات</button>
                        </div>
                            </div>

                            <!-- end card-body -->
                        </div>

                    </form>
                    <div class="row align-items-center dashboard-copyright-content pb-4">
                        <div class="col-lg-6">
                            <p class="copy-desc">© 1402 AbarVision کلیه حقوق محفوظ است.</p>
                        </div>
                        <!-- end col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="generic-list-item d-flex flex-wrap align-items-center fs-14 justify-content-end">
                                <li class="mr-3"><a href="">شرایط و ضوابط</a></li>
                            </ul>
                        </div>
                        <!-- end col-lg-6 -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container-fluid -->
            </div>
{% endblock %}