{% extends 'base.html' %}
{% load static %}
{% block title %}
    پروفایل کاربری
{% endblock %}

{% block content %}
    <div class="py-5">
        <div class="container">
            <div class="row">
                <aside class="col col-md-4">
                    <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center overflow-hidden">

                        <div class="p-3 border-bottom" dir="rtl">
                            <h6 class="font-weight-bold text-dark">رزومه دارید؟</h6>
                            <p class="mb-0 text-muted">در صورتی که هنرجوی هنرستان هستید، اگر مدرسه شما در مایور هست وارد شوید.</p>
                        </div>
                        <div class="p-3">
                            <button type="button" class="btn btn-outline-success pl-4 pr-4">رزومه خود را بسازید</button>
                        </div>
                    </div>


                    <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center overflow-hidden">

                        <div class="p-3 border-bottom" dir="rtl">
                            <h6 class="font-weight-bold text-dark">مدیر هنرستانید؟</h6>
                            <p class="mb-0 text-muted">در صورتی که مدیر یک هنرستان هستید میتوانید هنرستان را در مایور ثبت کنید تا هنرجویان خود را با بازار کار آشنا کنید.</p>
                        </div>
                        <div class="p-3">
                            <button type="button" class="btn btn-outline-success pl-4 pr-4">مدرسه خود را وارد کنید</button>
                        </div>
                    </div>

                </aside>
                <main class="col-md-8" dir="rtl">
                    <div class="shadow-sm rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0 text-right">اطلاعات اولیه</h6>
                            <p class="mb-0 mt-0 small text-right">اطلاعات اولیه خود را ویرایش کنید.
                            </p>
                        </div>
                        <div class="box-body p-3">
                            <form class="js-validate" novalidate="novalidate" method="post">
                                {% csrf_token %}
                                <div class="row">

                                    <div class="col-sm-6 mb-2">
                                        <div class="js-form-message">
                                            <p id="nameLabel" class="form-label text-right" dir="rtl">
                                                نام
                                                <span class="text-danger">*</span>
                                            </p>
                                            <div class="form-group">
                                                {{ form.first_name }}
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-6 mb-2">
                                        <div class="js-form-message">
                                            <p id="lastnameLabel" class="form-label text-right">
                                                نام خانوادگی
                                                <span class="text-danger">*</span>
                                            </p>
                                            <div class="form-group">
                                                {{ form.last_name }}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-sm-12 mb-2">
                                        <div class="js-form-message">
                                            <p id="emailLabel" class="form-label text-right">
                                                آدرس ایمیل
                                                <span class="text-danger"></span>
                                            </p>
                                            <div class="form-group">
                                                {{ form.email }}
                                            </div>

                                        </div>
                                        <br>
                                        <div class="mb-3 text-right">
                                            <button type="submit" class="btn btn-success">ویرایش اطلاعات</button>
                                        </div>
                                        {% if messages %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for message in messages %}
                                    <strong>{{ message }}</strong><br>
                                {% endfor %}

                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                        </div>
                    {% endif %}
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}

                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                                    </div>


                                </div>

                            </form>
                        </div>
                    </div>


                </main>
            </div>
        </div>
    </div>

{% endblock %}