{% extends 'base.html' %}
{% load static %}

{% block seo %}

<meta property="og:title" content=" همه کارآموزان | اس لنسر">
<meta property="og:description" content="رزومه خود را بسازید، کارآموزی خود را از بین شرکت ها رقم بزنید، اینجا شروع آینده شغلی شماست.">
<meta property="og:image" content="{% static 'images/logo.svg' %}">
<meta property="og:url" content="https://slancer.ir/">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Slancer | اس لنسر">

<meta name="description" content="رزومه خود را بسازید، کارآموزی خود را از بین شرکت ها رقم بزنید، اینجا شروع آینده شغلی شماست.">


{% endblock seo %}

{% block title %}
    همه رزومه ها | اس لنسر
{% endblock %}

{% block content %}
    <div class="py-5">
        <div class="container" dir="rtl">
            {% if messages %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div id="form_errors">
                        {% for message in messages %}
                            <span class="text-right">{{ message }}</span><br>
                        {% endfor %}

                        <button type="button" class="close" data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </div>
            {% endif %}
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in form.errors.items %}
                        <span>{{ value }}</span>
                    {% endfor %}

                    <button type="button" class="close" data-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <div class="row">


                <main class="col-md-12" dir="rtl">
                    <div class="shadow-sm rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0 text-right">رزومه خود را ایجاد کنید</h6>
                            <p class="mb-0 mt-1 mt-0 small text-right">مدرسه خود را از بین <b>{{ school_len }}</b> مدرسه انتخاب کنید تا رزومه شما ایجاد شود.
                            </p>
                        </div>
                        <div class="box-body p-3">
                            <form class="js-validate" novalidate="novalidate" method="post">
                                {% csrf_token %}
                                <div class="row">

                                    <div class="col-sm-6 mb-2">
                                        <div class="js-form-message">
                                            <p id="nameLabel" class="form-label text-right" dir="rtl">
                                                نام مدرسه
                                                <span class="text-danger">*</span>
                                            </p>
                                            <div class="form-group">
                                                {{ form.school }}
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class="content">


                                        <br>
                                        <div class="mb-3 text-right">
                                            <button type="submit" class="btn btn-success">ویرایش اطلاعات</button>
                                        </div>

                                    </div>


                                </div>

                            </form>
                        </div>
                    </div>


                </main>
            </div>
            </div>
        </div>

{% endblock %}