{% extends 'base.html' %}
{% load static %}

{% block seo %}

<meta property="og:title" content=" همه کارآموزان | اس لنسر">
<meta property="og:description" content="رزومه خود را بسازید، کارآموزی خود را از بین شرکت ها رقم بزنید، اینجا شروع آینده شغلی شماست.">
<meta property="og:image" content="{% static 'images/logo.svg' %}">
<meta property="og:url" content="https://slancer.ir/">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Slancer | اس لنسر">

<meta name="description" content="رزومه خود را بسازید، کارآموزی خود را از بین شرکت ها رقم بزنید، اینجا شروع آینده شغلی شماست.">


{% endblock seo %}

{% block title %}
همه رزومه ها | اس لنسر
{% endblock %}

{% block content %}
    <section class="py-5 bg-dark inner-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="mt-0 mb-3 text-white">رزومه ها</h1>
                    <div class="breadcrumbs">
                        <p class="mb-0 text-white"><a class="text-white" href="{% url 'home' %}">خانه</a> / <span
                                class="text-success">رزومه ها</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-2 bg-dark">
        <div class="view_slider recommended">
            <div class="container">
                <div class="bg-white mb-5">
                    <div class="border">

                        <form class="px-4 py-3 right_text" action="." method="get" dir="rtl">
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                                <label for="exampleDropdownFormEmail1">استان</label>
                                {{ form.state }}
                            </div>
                            <div class="form-group col-sm-6 col-md-4 col-lg-3">
                                <label for="exampleDropdownFormPassword1">ناحیه</label>
                                {{ form.district }}
                            </div>
                            <div class="form-group col-sm-6 col-md-4 col-lg-3">
                                <label for="exampleDropdownFormPassword1">رشته</label>
                                {{ form.field }}
                            </div>
                                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                                <label for="exampleDropdownFormPassword1">نام هنرستان</label>
{#                                {{ form.school }}#}
                                    <input type="text" value="{{ request.GET.name }}" name="name" class="form-control form--control pl-3">
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">فیلتر گذاری </button>
                            </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="row">

                    {% for i in resume %}
                        <div class="col-md-4 col-6 col-lg-3">
                            <div class="box mb-3 shadow-sm rounded bg-white profile-box text-center">
                                <div class="py-4 px-3 border-bottom">
                                    <img width="100" src="{% if i.image and i.image.url != '/media/False' %}
                                	{{ i.image.url }}
                                	{% else %}
                                	{% static 'images/user.png' %}
                                {% endif %} " class="img-fluid mt-2 rounded-circle"
                                         alt="Responsive image">
                                    <h5 class="font-weight-bold text-dark mb-1 mt-4">{{ i.user.get_full_name }}</h5>
                                    <p class="mb-0 text-muted">{{ i.school }}</p>
                                </div>
                                <div class="d-flex">
                                    <div class="col-6 border-right p-3">
                                        <h6 class="font-weight-bold text-dark mb-1">ناحیه</h6>
                                        <p class="mb-0 text-black-50 small">{{ i.district }}</p>
                                    </div>
                                    <div class="col-6 p-3">
                                        <h6 class="font-weight-bold text-dark mb-1">رشته</h6>
                                        <p class="mb-0 text-black-50 small">{{ i.field }}</p>
                                    </div>
                                </div>
                                <div class="overflow-hidden border-top">
                                    <a class="font-weight-bold p-3 d-block"
                                       href="{% url 'resume' i.id %}">
                                        نمایش پروفایل </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
        <div id="Pagination" class="pb-5 mb-5 border-bottom pagination justify-content-center">

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if resume.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.district %}&district={{ request.GET.district }}{% endif %}{% if request.GET.field %}&field={{ request.GET.field }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}" aria-label="First">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ resume.previous_page_number }}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.district %}&district={{ request.GET.district }}{% endif %}{% if request.GET.field %}&field={{ request.GET.field }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}">{{ resume.previous_page_number }}</a>
                        </li>
                    {% endif %}

                    <li class="page-item active"><a class="page-link ">{{ resume.number }}</a></li>
                    {% if resume.has_next %}
                        <li class="page-item "><a class="page-link"
                                                  href="?page={{ resume.next_page_number }}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.district %}&district={{ request.GET.district }}{% endif %}{% if request.GET.field %}&field={{ request.GET.field }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}">{{ resume.next_page_number }}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ resume.paginator.num_pages }}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.district %}&district={{ request.GET.district }}{% endif %}{% if request.GET.field %}&field={{ request.GET.field }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}" aria-label="last">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        </div>

        </div>
    </section>

{% endblock %}