{% extends 'base.html' %}
{% load static %}
{% block title %}
    نمونه کار ها
{% endblock %}

{% block content %}
    <section class="py-5 bg-dark inner-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="mt-0 mb-3 text-white">نمونه کار ها</h1>
                    <div class="breadcrumbs">
                        <p class="mb-0 text-white"><a class="text-white" href="{% url 'home' %}">خانه</a> / <span
                                class="text-success">نمونه کار ها</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-2 bg-dark">
        <div class="view_slider recommended">
            <div class="container">
                <div class="bg-white mb-5">
                    <div class="border">

                        <form class="px-4 py-3 right_text" action="." method="get" dir="rtl">
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                                <label for="exampleDropdownFormEmail1">استان</label>
                                {{ form.state }}
                            </div>
                            <div class="form-group col-sm-6 col-md-4 col-lg-3">
                                <label for="exampleDropdownFormPassword1">ناحیه</label>
                                {{ form.district }}
                            </div>
                            <div class="form-group col-sm-6 col-md-4 col-lg-3">
                                <label for="exampleDropdownFormPassword1">رشته</label>
                                {{ form.field }}
                            </div>
                                <div class="form-group col-sm-6 col-md-4 col-lg-3">
                                <label for="exampleDropdownFormPassword1">نام هنرستان</label>
{#                                {{ form.school }}#}
                                    <input type="text" value="{{ request.GET.name }}" name="name" class="form-control form--control pl-3">
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">فیلتر گذاری </button>
                            </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="row">

                     {% for i in exams %}
                                    <div class="col-lg-3 col-md-4 col-6">
                                        <div>

                                            <a target="_blank" {% if i.link %} href="{{ i.link }}" {% endif %}>
                                                {% if i.image %}
                                                    <img class="img-fluid" src="{{ i.image.url }}"/>
                                                {% else %}
                                                    <img class="img-fluid p-2"
                                                         src="{% static 'images/work-completed.png' %}"/>

                                                {% endif %}                                     </a>
                                            <div class="inner-slider">
                                                <div class="inner-wrapper">
                                                    <div class="d-flex align-items-center">
                                                <span class="seller-image">
                                            {% if i.resume.image and i.resume.image.url != '/media/False' %}

                                                <img class="img-fluid" src="{{ i.resume.image.url }}"
                                                     alt='{{ i.name }}'/>
                                                {% else %}
                                                <img class="img-fluid" src="{% static 'images/user.jpg' %}"
                                                     alt='{{ i.name }}'/>

                                            {% endif %}
                                                </span>
                                                        <span class="seller-name">
                                                <a target="_blank" {% if i.link %} href="{{ i.link }}" {% endif %}>{{ i.name }}</a>

                                                </span>
                                                    </div>
                                                    <h3 dir="rtl" class="text-right">{{ i.description|slice:":75" }}...</h3>
                                                    <hr>
                                                    <div class="text-center">
                                                        <a href="{% url 'resume' i.resume.id %}" class=""><b>نمایش پروفایل</b></a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}


                </div>
            </div>
        </div>
        <div id="Pagination" class="pb-5 mb-5 border-bottom pagination justify-content-center">

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if resume.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.district %}&district={{ request.GET.district }}{% endif %}{% if request.GET.field %}&field={{ request.GET.field }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}" aria-label="First">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ resume.previous_page_number }}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.district %}&district={{ request.GET.district }}{% endif %}{% if request.GET.field %}&field={{ request.GET.field }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}">{{ resume.previous_page_number }}</a>
                        </li>
                    {% endif %}

                    <li class="page-item active"><a class="page-link ">{{ resume.number }}</a></li>
                    {% if resume.has_next %}
                        <li class="page-item "><a class="page-link"
                                                  href="?page={{ resume.next_page_number }}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.district %}&district={{ request.GET.district }}{% endif %}{% if request.GET.field %}&field={{ request.GET.field }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}">{{ resume.next_page_number }}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ resume.paginator.num_pages }}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.district %}&district={{ request.GET.district }}{% endif %}{% if request.GET.field %}&field={{ request.GET.field }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}" aria-label="last">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        </div>

        </div>
    </section>

{% endblock %}