{% extends 'base.html' %}

{% block title %}
    رزومه شما
{% endblock %}

{% block content %}
    {% include 'django_quill/media.html' %}
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="bg-white rounded shadow-sm py-3 sidebar-fix">
                        <div class="dropdown-menu-show">
                            <a class="dropdown-item py-2 active" href="{% url 'resume_home' %}">نمایش رزومه</a>
                            <a class="dropdown-item py-2" href="edit-security.html">Edit Security</a>
                            <a class="dropdown-item py-2" href="edit-notifications.html">Edit Notification</a>
                            <a class="dropdown-item py-2" href="edit-billing.html">Edit Billing</a>
                            <a class="dropdown-item py-2" href="edit-payment.html">Edit Payment</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9" dir="rtl">
                    <div class="bg-white rounded shadow-sm sidebar-page-right">
                        <div>
                            <div class="p-3 border-bottom text-right">
                                <h6 class="mb-0">رزومه خودتان را ویرایش کنید
                                </h6>
                            </div>
                            <form method="post" action="." enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="p-3 border-bottom">

                                    <div class="row d-flex align-items-center form-group">
                                        <div class="col-md-3">
                                            <p class="text-muted font-weight-bold mb-0 right">نام و نام خانوادگی</p>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" name="name" readonly
                                                   class="form-control font-weight-bold text-muted"
                                                   value="{{ fullname }}">
                                        </div>
                                    </div>
                                    <div class="row d-flex align-items-center form-group">
                                        <div class="col-md-3">
                                            <p class="text-muted font-weight-bold mb-0">ایمیل</p>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="email" name="email"
                                                   class="form-control font-weight-bold text-muted" readonly
                                                   value="{{ email }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="p-3">
                                    <div class="row d-flex align-items-center form-group ">
                                        <div class="col-3">
                                            <p class="text-muted font-weight-bold mb-0">هنرستان در حال تحصیل</p>
                                        </div>
                                        <div class="col-9">
                                            {{ form.school }}
                                        </div>
                                    </div>
                                    <div class="row d-flex align-items-center form-group">
                                        <div class="col-3">
                                            <p class="text-muted font-weight-bold mb-0">آدرس لینکدین</p>
                                        </div>
                                        <div class="col-9">
                                            {{ form.linkedin }}
                                        </div>
                                    </div>
                                    <div class="row d-flex align-items-center form-group">
                                        <div class="col-3">
                                            <p class="text-muted font-weight-bold mb-0">فایل رزومه</p>
                                        </div>
                                        <div class="col-9">
                                            {{ form.resume_file }}
                                        </div>
                                    </div>
                                    <div class="row d-flex align-items-center form-group">
                                        <div class="col-3">
                                            <p class="text-muted font-weight-bold mb-0">تاریخ تولد:</p>
                                        </div>
                                        <div class="col-3">
                                            <label>روز</label>
                                            {{ form.birth_day }}
                                        </div>
                                        <div class="col-3">
                                            <label>ماه</label>
                                            {{ form.birth_mount }}
                                        </div>
                                        <div class="col-3">
                                            <label>سال</label>
                                            {{ form.birth_year }}
                                        </div>
                                    </div>
                                    <div class="row d-flex align-items-center form-group">
                                        <div class="col-3">
                                            <p class="text-muted font-weight-bold mb-0">درباره شما</p>
                                        </div>
                                        <div class="col-9">
                                            {{ form.about }}
                                        </div>
                                    </div>
                                    <div class="row d-flex align-items-center form-group">
                                        <div class="col-3">
                                            <p class="text-muted font-weight-bold mb-0">آدرس محل سکونت</p>
                                        </div>
                                        <div class="col-9">
                                            {{ form.address }}
                                        </div>
                                    </div>
                                    <div class="row d-flex align-items-center form-group">
                                        <div class="col-3">
                                            <p class="text-muted font-weight-bold mb-0">وضعیت نمایش به دیگران</p>
                                        </div>
                                        <div class="col-9">
                                            {{ form.active }}
                                        </div>
                                    </div>

                                    <div class="text-right">
                                        <button class="btn btn-success">ویرایش رزومه</button>
                                    </div>
                                    {% if messages %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <div id="form_errors">
                                                {% for message in messages %}
                                                    <span class="text-right">{{ message }}</span><br>
                                                {% endfor %}

                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                        </div>
                                    {% endif %}
                                    {% if form.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                        <div id="form_errors">
                                            {% for key, value in form.errors.items %}
                                                <span>{{ value }}</span>
                                            {% endfor %}

                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endif %}
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    
{% endblock %}