{% extends 'base.html' %}

{% load static %}

{% block title %}
    رزومه شما
{% endblock %}

{% block content %}


   {% if resume.active or resume.user.id == request.user.id %}
   	 <div class="main-page second py-5 right" dir="rtl">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 left">
                    <div class="profile_info">
                        <div class="seller-card">
                            <div>
                                {% if resume.active %}
                                	<div class="user-online-indicator is-online " data-user-id="1152855">
                                    <i class="fa fa-circle"></i> فعال
                                </div>
                                    {% else %}
                                    <div class="user-online-indicator is-online text-danger danger" style="border-color: red" data-user-id="1152855">
                                    <i class="fa fa-circle"></i> غیرفعال
                                </div>
                                {% endif %}
                            </div>
                            {% if request.user.id == resume.user.id %}
                                <div><a href="{% url 'resume_home' %}" class="ambassadors-badge">ویرایش رزومه</a></div>

                            {% endif %}
                            <div class="user-profile-info">
                                <div>
                                    <div class="user-profile-image">
                                        <label class="user-pict">
                                            {% if resume.image and resume.image.url != '/media/False' %}
                                                <img src="{{ resume.image.url }}" class="img-fluid user-pict-img"
                                                     alt="Askbootstrap">
                                                <a href="#"
                                                   class="user-badge-round user-badge-round-med locale-en-us top-rated-seller"></a>
                                                </label>
                                            {% else %}
                                                <img src="{% static 'images/user.png' %}"
                                                     class="img-fluid user-pict-img"
                                                     alt="Askbootstrap">
                                                <a href="#"
                                                   class="user-badge-round user-badge-round-med locale-en-us top-rated-seller"></a>
                                                </label>
                                            {% endif %}
                                    </div>
                                </div>
                                <div class="user-profile-label mt-1">
                                    <div class="username-line">
                                        <a class="seller-link">{{ resume.user.get_full_name }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons-wrapper">

                                <div class="btn-lrg-standard btn-white btn-custom-order">{{ resume.user.mobile }}</div>
                                <a href="tel:{{ resume.user.mobile }}"
                                   class="btn-lrg-standard btn-contact-me js-contact-me js-open-popup-join mr-2 ml-1">تماس</a>
                            </div>
                            <div class="user-stats-desc">
                                <ul class="user-stats">
                                    {% if resume.birth_mount and resume.birth_day and resume.birth_year %}
                                        <li class="fa-birthday-cake">تاریخ
                                            تولد<strong>{{ resume.birth_year }}/{{ resume.birth_mount }}/{{ resume.birth_day }}</strong>
                                        </li>
                                    {% endif %}
                                    {% if resume.district %}
                                        <li class="location">ناحیه - استان<strong>{{ resume.district }}</strong></li>
                                    {% endif %}
                                    {% if resume.link %}
                                        <li class="fa-link">وبسایت<strong><a class="small" href="{{ resume.link }}"
                                                                             target="_blank">{{ resume.link }}</a></strong>
                                        </li>
                                    {% endif %}
                                    {% if resume.linkedin %}
                                        <li class="fa-linkedin">آدرس لینکدین<strong><a href="{{ resume.linkedin }}"
                                                                                       target="_blank">نمایش</a></strong>
                                        </li>
                                    {% endif %}
                                    {% if resume.user.email %}
                                        <li class="fa-envelope">آدرس ایمیل<strong><a href="{{ resume.user.email }}"
                                                                                     class="small"
                                                                                     target="_blank">{{ resume.user.email }}</a></strong>
                                        </li>
                                    {% endif %}
                                    {% if resume.resume_file and resume.resume_file.url != "/media/False" %}
                                        <li class="fa-file">فایل رزومه پیوست<strong><a download
                                                                                       href="{{ resume.resume_file.url }}"
                                                                                       target="_blank">دانلود</a></strong>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="seller-profile" style="text-align: right">
                        {% if resume.address %}
                            <div class="description right">
                                <h3>آدرس</h3>
                                <p>

                                    {{ resume.address }}
                                </p>
                            </div>
                        {% endif %}

                        <div class="languages">
                            <h3>زبان ها</h3>
                            <ul>
                                {% for i in langs %}
                                    <li>{{ i.name }}&nbsp;&nbsp;- <span>{% if i.level == "a" %}
                                        <span class="text-danger">
                                                    مقدماتی
                                                </span>
                                    {% elif i.level == "b" %}
                                        <span class="text-warning">
                                                    متوسط
                                                </span>
                                    {% else %}
                                        <span class="text-success">
                                                    پیشرفته
                                                </span>

                                    {% endif %}</span></li>
                                {% endfor %}


                            </ul>
                        </div>
                        <div class="languages">
                            <h3>مهارت ها</h3>
                            <ul class="row">
                                {% for i in skills %}
                                    <li class="col-6">{{ i.name }}&nbsp;&nbsp;- <span>{% if i.level == "a" %}
                                        <span class="text-danger">
                                                    مقدماتی
                                                </span>
                                    {% elif i.level == "b" %}
                                        <span class="text-warning">
                                                    متوسط
                                                </span>
                                    {% else %}
                                        <span class="text-success">
                                                    پیشرفته
                                                </span>

                                    {% endif %}</span></li>
                                {% endfor %}


                            </ul>
                        </div>


                    </div>
                </div>
                <div class="col-lg-8 right" style="text-align: right">
                    <div class="box shadow-sm rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0">درباره</h6>
                        </div>
                        <div class="box-body p-3">
                            <p>
                                {% if resume.about != None %}
                                    {{ resume.about.html|safe }}
                                {% endif %}
                            </p>
                        </div>
                    </div>

                    {% if exams %}
                        <hr>
                        <div class="mb-3">
                            <h6 class="">نمونه کار ها</h6>
                        </div>
                        <div class="recommended mb-2">
                            <div class="row">
                                {% for i in exams %}
                                    <div class="col-md-4 col-6">
                                        <div>

                                            <a target="_blank" {% if i.link %} href="{{ i.link }}" {% endif %}>
                                                {% if i.image %}
                                                    <img class="img-fluid" src="{{ i.image.url }}"/>
                                                {% else %}
                                                    <img class="img-fluid p-2"
                                                         src="{% static 'images/work-completed.png' %}"/>

                                                {% endif %}                                     </a>
                                            <div class="inner-slider">
                                                <div class="inner-wrapper">
                                                    <div class="d-flex align-items-center">
                                                <span class="seller-image">
                                            {% if i.resume.image and i.resume.image.url != '/media/False' %}

                                                <img class="img-fluid" src="{{ i.resume.image.url }}"
                                                     alt='{{ i.name }}'/>

                                            {% endif %}
                                                </span>
                                                        <span class="seller-name">
                                                <a target="_blank" {% if i.link %} href="{{ i.link }}" {% endif %}>{{ i.name }}</a>

                                                </span>
                                                    </div>
                                                    <h3>{{ i.description }}</h3>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                        <hr>
                    {% endif %}
                    {% if work %}
                    	<div id="faq" class="faq right" style="margin: 0px; text-align: right">
                        <div class="mb-3">
                            <h6 class="">تجارب کاری</h6>
                        </div>
                    <div class="accordion" id="accordionExample">
                        {% for i in work %}
                        	<div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" style="text-align: right" type="button" data-toggle="collapse"
                                            data-target="#collapse{{ i.id }}" aria-expanded="true" aria-controls="collapseOne">
                                        {{ i.name }}
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse{{ i.id }}" class="collapse" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    {{ i.description }}
                                    <br><br>
                                <div>
                                    <span class="small">شرکت: {{ i.co_name }}</span>
                                    <span class="small" style="float: left">از {{ i.start_date }} تا {% if i.end_date == None %}
                                    	کنون
                                        {% else %}
                                        {{ i.end_date }}
                                    {% endif %} </span>
                                </div>

                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                        <hr>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    </div>
       {% else %}
       <div class="m-5" style="text-align: center" dir="rtl">
       <h2>وضعیت نمایش این رزومه غیر فعال میباشد.</h2>
           <a href="{% url 'home' %}" class="btn btn-outline-success mt-3" > خانه</a>
       </div>
   {% endif %}


{% endblock %}