{% extends 'base.html' %}

{% block title %}
    رزومه شما
{% endblock %}

{% block content %}
    {% include 'django_quill/media.html' %}
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="bg-white rounded shadow-sm py-3 sidebar-fix mt-2">
                        <div class="dropdown-menu-show" style="text-align: right">
                            <a class="dropdown-item py-2" href="{% url 'resume' id %}">نمایش رزومه</a>

                        </div>
                    </div>
                    <div class="bg-white rounded shadow-sm py-3 sidebar-fix mt-2">
                        <div class="dropdown-menu-show" style="text-align: right">
                            <a class="dropdown-item py-2 " href="{% url 'resume_home' %}">رزومه</a>
                            <a class="dropdown-item py-2 active" href="{% url 'resume_skills' %}">مهارت ها</a>
                            <a class="dropdown-item py-2" href="{% url 'exam' %}">نمونه کار ها</a>
                            <a class="dropdown-item py-2" href="{% url 'work_experience' %}">تجارب کاری</a>
                            <a class="dropdown-item py-2 " href="{% url 'courses' %}">دوره ها</a>
                            <a class="dropdown-item py-2 " href="{% url 'resume_lang' %}">زبان ها</a>

                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-9 mt-2" dir="rtl">
                    <div class="bg-white rounded shadow-sm sidebar-page-right">
                        <div>
                            <div class="p-3 border-bottom text-right">
                                <h6 class="mb-0">مهارت های خودتان را اضافه کنید.
                                </h6>
                            </div>

                            <div class="p-3 border-bottom">
                                {% if messages %}
                                    <br>
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <div id="form_errors">
                                            {% for message in messages %}
                                                <span class="text-right">{{ message }}</span><br>
                                            {% endfor %}

                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                    </div>
                                {% endif %}
                                {% if form.errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors">
                                        {% for key, value in form.errors.items %}
                                            <span>{{ value }}</span>
                                        {% endfor %}

                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                                <table class="table table-bordered m-0" style="text-align: right">
                                    <thead>
                                    <tr>
                                        <th>نام مهارت</th>
                                        <th>سطح مهارت</th>
                                        <th>عملیات</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in skills %}
                                        <tr>
                                            <td>{{ i.name }}</td>

                                            {% if i.level == "a" %}
                                                <td class="text-danger">
                                                    مقدماتی
                                                </td>
                                            {% elif i.level == "b" %}
                                                <td class="text-warning">
                                                    متوسط
                                                </td>
                                            {% else %}
                                                <td class="text-success">
                                                    پیشرفته
                                                </td>

                                            {% endif %}

                                            <td>
                                                <form action="{% url 'resume_skills_delete' i.id %}" method="post">
                                                    {% csrf_token %}
                                                    <a class="btn btn-success  text-white" title="Edit"
                                                       href="{% url 'resume_skills_update' i.id %}"> ویرایش <i
                                                            class="fa fa-edit"></i></a>
                                                    <button class="btn btn-danger text-white" type="submit"
                                                            title="Delete"> حذف <i
                                                            class="fa fa-trash"></i></button>
                                                </form>

                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>


                                </div>

                                <div class="p-3">
                                    <div class="text-right">
                                        <a class="btn btn-success text-white" href="{% url 'resume_skills_add' %}">افزودن
                                            مهارت</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}