{% extends 'base.html' %}

{% load jalali_tags %}

{% load static %}

{% block title %}
    {{ co.company_name }}
{% endblock %}

{% block content %}

    <div class="m-2">
     {% if messages %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <div id="form_errors">
                                                {% for message in messages %}
                                                    <span class="text-right">{{ message }}</span><br>
                                                {% endfor %}

                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                        </div>
                                    {% endif %}
                                    {% if form.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                        <div id="form_errors">
                                            {% for key, value in form.errors.items %}
                                                <span>{{ value }}</span>
                                            {% endfor %}

                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endif %}
    </div>

    <div class="py-5">
        <div class="container">
            <div class="row">

                <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                    <div class="box shadow-sm rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0 right_text">درباره شرکت</h6>
                        </div>
                        <div class="box-body p-3 right_text" dir="auto">
                            {{ co.about.html|safe }}
                        </div>
                    </div>
                    <div class="box shadow-sm rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0 right_text">توضیحات</h6>
                        </div>
                        <div class="box-body">
                            <table class="table table-borderless mb-0">
                                <tbody dir="rtl" class="right_text">
                                <tr class="border-bottom">
                                    <td class="p-3">{{ co.state }}
                                    </td>
                                    <th class="p-3">استان</th>
                                </tr>
                                <tr class="border-bottom">
                                    <td class="p-3">{{ co.district }}</td>
                                    <th class="p-3">ناحیه</th>
                                </tr>
                                <tr class="border-bottom">
                                    <td class="p-3">{{ co.field }}
                                    </td>
                                    <th class="p-3">رشته کاری مطابق با هنرستان</th>
                                </tr>
                                {% if co.show_mobile %}
                                    <tr class="border-bottom">
                                        <td class="p-3"><a href="tel:{{ co.user.mobile }}">{{ co.user.mobile }}</a></td>
                                        <th class="p-3">شماره تلفن</th>
                                    </tr>
                                {% endif %}
                                {% if co.company_url %}
                                    <tr class="border-bottom">
                                        <td class="p-3"><a href="{{ co.company_url }}"
                                                           target="_blank">{{ co.company_url }}</a></td>
                                        <th class="p-3">آدرس اینترنتی</th>
                                    </tr>
                                {% endif %}
                                {% if co.address %}
                                    <tr class="border-bottom">
                                        <td class="p-3">{{ co.address }}</td>
                                        <th class="p-3">آدرس</th>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box shadow-sm rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0 right_text">توضیحات، نحوه کارآموزی و ...</h6>
                        </div>
                        <div class="box-body p-3 right_text" dir="auto">
                            {{ co.description.html|safe }}
                        </div>
                    </div>
                </main>
                <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
                    <div class="box mb-3 shadow-sm rounded bg-white profile-box text-center">
                        <div class="p-5">
                            {% if co.image %}
                                <img src="{{ co.image.url }}" class="img-fluid" alt="{{ co.company_name }}">
                            {% else %}
                                <img src="{% static 'images/company_vectory.jpg' %}" class="img-fluid"
                                     alt="{{ co.company_name }}">

                            {% endif %}                     </div>
                        <div class="p-3 border-top border-bottom">
                            <h5 class="font-weight-bold text-dark mb-1 mt-0">{{ co.company_name }}</h5>
                            <p class="mb-0 text-muted">{{ co.field }}
                            </p>
                        </div>

                    </div>

                    <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center">

                        <div class="p-3 border-bottom">
                            <p class="mb-0 text-muted" dir="rtl">اگر به کارآموزی در این شرکت علاقه مندید رزومه خود را
                                ارسال کنید.</p>
                        </div>
                        <div class="p-3">
                            {% if user.is_authenticated %}
                                {% if user_has_resume %}
                                    {% if sended_resume %}
                                        <form action="{% url 'add_co' co.user.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-info pl-4 pr-4">
                                                حذف درخاست کارآموزی
                                            </button>
                                        </form>
                                        {% else %}
                                        <form action="{% url 'add_co' co.user.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-success pl-4 pr-4">درخاست
                                                کارآموزی
                                            </button>
                                        </form>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'resume_home' %}" class="btn btn-outline-info pl-4 pr-4">لطفا اول
                                        رزومه خود را ایجاد کنید</a>

                                {% endif %}
                            {% else %}
                                <a href="{% url 'login' %}" class="btn btn-outline-danger pl-4 pr-4">لطفا اول ثبت نام
                                    کنید</a>
                            {% endif %}
                        </div>
                    </div>
                </aside>
                <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">

                    {% if co.user == request.user %}
                        <a href="{% url 'company' %}" class="btn btn-lg btn-block btn-danger mb-3 text-white">
                            ویرایش
                        </a>
                    {% endif %}
                 <div class="box shadow-sm rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0 right_text">جدید ترین شرکت ها</h6>
                        </div>
                        <div class="box-body p-3">
                            {% for i in cos %}
                                <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{% if i.image %}
                                    	{{ i.image.url }}
                                    	{% else %}
                                    	{% static 'images/company_vectory.jpg' %}
                                    {% endif %} " alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold mr-2">
                                        <div class="text-truncate">{{ i.company_name }}</div>
                                        <div class="small text-gray-500">{{ i.field }}
                                        </div>
                                    </div>
                                    <span class="ml-auto"><form action="{% url 'co_detail' i.user.id %}" method="get"><button
                                            type="submit" class="btn btn-outline-success btn-sm">نمایش</button></form>
</span>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                    <div class="box shadow-sm rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0 right_text">
                                جدید ترین رزومه ها
                            </h6>
                        </div>
                        <div class="box-body p-3">
                           {% for j in resume %}
                           	 <a href="{% url 'resume' j.id %}">
                                <div class="shadow-sm rounded bg-white job-item mb-3">
                                    <div class="d-flex align-items-center p-3 job-item-header">
                                        <div class="overflow-hidden mr-2">
                                         <h6 class="font-weight-bold text-dark mb-1 text-truncate">
                                                {{ j.user.get_full_name }}
                                            </h6>
                                            <div class="text-truncate text-primary">{% if j.field %}
                                            	{{ j.field }}
                                            {% endif %} </div>
                                            {% if j.district %}
                                            	<div class="small text-gray-500"><i class="fa fa-map"></i> {{ j.district }}
                                            </div>
                                            {% endif %}

                                        </div>
                                            <img class="img-fluid ml-auto" src="{% if j.image %}
                                        	{{ j.image.url }}
                                        	{% else %}
                                        	{% static 'images/user.jpg' %}
                                        {% endif %} " alt="">

                                    </div>

                                </div>
                            </a>
                           {% endfor %}


                        </div>
                    </div>


                </aside>
            </div>
        </div>
    </div>

{% endblock %}