{% extends 'base.html' %}

{% load jalali_tags %}

{% load static %}

{% block title %}
    {{ co.company_name }}
{% endblock %}

{% block content %}


    <div class="py-5">
        <div class="container">
            <div class="row">

                <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                    <div class="box shadow-sm rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0 right_text">درباره شرکت</h6>
                        </div>
                        <div class="box-body p-3 right_text" dir="auto">
                            {{ co.about.html|safe }}
                        </div>
                    </div>
                    <div class="box shadow-sm rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0 right_text">توضیحات</h6>
                        </div>
                        <div class="box-body">
                            <table class="table table-borderless mb-0">
                                <tbody dir="rtl" class="right_text">
                                <tr class="border-bottom">
                                    <td class="p-3">{{ co.state }}
                                    </td>
                                    <th class="p-3">استان</th>
                                </tr>
                                <tr class="border-bottom">
                                    <td class="p-3">{{ co.district }}</td>
                                    <th class="p-3">ناحیه</th>
                                </tr>
                                <tr class="border-bottom">
                                    <td class="p-3">{{ co.field }}
                                    </td>
                                    <th class="p-3">رشته کاری مطابق با هنرستان</th>
                                </tr>
                                {% if co.show_mobile %}
                                    <tr class="border-bottom">
                                        <td class="p-3"><a href="tel:{{ co.user.mobile }}">{{ co.user.mobile }}</a></td>
                                        <th class="p-3">شماره تلفن</th>
                                    </tr>
                                {% endif %}
                                {% if co.company_url %}
                                    <tr class="border-bottom">
                                        <td class="p-3"><a href="{{ co.company_url }}"
                                                           target="_blank">{{ co.company_url }}</a></td>
                                        <th class="p-3">آدرس اینترنتی</th>
                                    </tr>
                                {% endif %}
                                {% if co.address %}
                                    <tr class="border-bottom">
                                        <td class="p-3">{{ co.address }}</td>
                                        <th class="p-3">آدرس </th>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box shadow-sm rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0 right_text">توضیحات، نحوه کارآموزی و ...</h6>
                        </div>
                        <div class="box-body p-3 right_text" dir="auto">
                            {{ co.description.html|safe }}
                        </div>
                    </div>
                </main>
                <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
                    <div class="box mb-3 shadow-sm rounded bg-white profile-box text-center">
                        <div class="p-5">
                            {% if co.image %}
                                <img src="{{ co.image.url }}" class="img-fluid" alt="{{ co.company_name }}">
                            {% else %}
                                <img src="{% static 'images/company_vectory.jpg' %}" class="img-fluid"
                                     alt="{{ co.company_name }}">

                            {% endif %}                     </div>
                        <div class="p-3 border-top border-bottom">
                            <h5 class="font-weight-bold text-dark mb-1 mt-0">{{ co.company_name }}</h5>
                            <p class="mb-0 text-muted">{{ co.field }}
                            </p>
                        </div>
                        <div class="p-3">
                            <div class="d-flex align-items-top mb-2">
                                <p class="mb-0 text-muted">تاریخ بروز رسانی</p>
                                <p class="font-weight-bold text-dark mb-0 mt-0 ml-auto">{{ co.create_time.date|to_jalali }}</p>
                            </div>
                            <div class="d-flex align-items-top">
                                <p class="mb-0 text-muted">رزومه های ارسال شده</p>
                                <p class="font-weight-bold text-dark mb-0 mt-0 ml-auto">25</p>
                            </div>
                        </div>
                    </div>

                    <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center">

                        <div class="p-3 border-bottom">
                            <p class="mb-0 text-muted">اگر به کارآموزی در این شرکت علاقه مندید رزومه ارسال کنید.</p>
                        </div>
                        <div class="p-3">
                            <button type="button" class="btn btn-outline-success pl-4 pr-4">درخاست کارآموزی</button>
                        </div>
                    </div>
                </aside>
                <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
                   {% if co.user == request.user %}
                   	     <a href="{% url 'company' %}" class="btn btn-lg btn-block btn-danger mb-3 text-white">
                        ویرایش
                    </a>
                   {% endif %}
                    <div class="box shadow-sm rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0">Similar Jobs
                            </h6>
                        </div>
                        <div class="box-body p-3">
                            <a href="https://askbootstrap.com/">
                                <div class="shadow-sm rounded bg-white job-item mb-3">
                                    <div class="d-flex align-items-center p-3 job-item-header">
                                        <div class="overflow-hidden mr-2">
                                            <h6 class="font-weight-bold text-dark mb-0 text-truncate">Product
                                                Director</h6>
                                            <div class="text-truncate text-primary">Spotify Inc.</div>
                                            <div class="small text-gray-500"><i class="fa fa-map"></i> India, Punjab
                                            </div>
                                        </div>
                                        <img class="img-fluid ml-auto" src="images/l3.png" alt="">
                                    </div>
                                    <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
                                        <div class="overlap-rounded-circle">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="" src="images/user/s4.png" alt=""
                                                 data-original-title="Sophia Lee">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="" src="images/user/s5.png" alt=""
                                                 data-original-title="John Doe">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="" src="images/user/s6.png" alt=""
                                                 data-original-title="Julia Cox">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="" src="images/user/s7.png" alt=""
                                                 data-original-title="Robert Cook">
                                        </div>
                                        <span class="font-weight-bold text-muted">18 connections</span>
                                    </div>
                                    <div class="p-3 job-item-footer">
                                        <small class="text-gray-500"><i class="fa fa-clock-o"></i> Posted 3 Days
                                            ago</small>
                                    </div>
                                </div>
                            </a>
                            <a href="https://askbootstrap.com/">
                                <div class="shadow-sm rounded bg-white job-item">
                                    <div class="d-flex align-items-center p-3 job-item-header">
                                        <div class="overflow-hidden mr-2">
                                            <h6 class="font-weight-bold text-dark mb-0 text-truncate">.NET
                                                Developer</h6>
                                            <div class="text-truncate text-primary">Invision</div>
                                            <div class="small text-gray-500"><i class="fa fa-map"></i> London, UK
                                            </div>
                                        </div>
                                        <img class="img-fluid ml-auto" src="images/l4.png" alt="">
                                    </div>
                                    <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
                                        <div class="overlap-rounded-circle">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="" src="images/user/s8.png" alt=""
                                                 data-original-title="Sophia Lee">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="" src="images/user/s9.png" alt=""
                                                 data-original-title="John Doe">
                                            <img class="rounded-circle shadow-sm" data-toggle="tooltip"
                                                 data-placement="top"
                                                 title="" src="images/user/s10.png" alt=""
                                                 data-original-title="Robert Cook">
                                        </div>
                                        <span class="font-weight-bold text-muted">18 connections</span>
                                    </div>
                                    <div class="p-3 job-item-footer">
                                        <small class="text-gray-500"><i class="fa fa-clock-o"></i> Posted 3 Days
                                            ago</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="box shadow-sm rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0">Who viewed your profile</h6>
                        </div>
                        <div class="box-body p-3">
                            <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="images/user/s4.png" alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold mr-2">
                                    <div class="text-truncate">Sophia Lee</div>
                                    <div class="small text-gray-500">@Harvard
                                    </div>
                                </div>
                                <span class="ml-auto"><button type="button"
                                                              class="btn btn-outline-success btn-sm">Connent</button>
</span>
                            </div>
                            <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="images/user/s3.png" alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold mr-2">
                                    <div class="text-truncate">John Doe</div>
                                    <div class="small text-gray-500">Traveler
                                    </div>
                                </div>
                                <span class="ml-auto"><button type="button"
                                                              class="btn btn-outline-success btn-sm">Connent</button>
</span>
                            </div>
                            <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="images/user/s6.png" alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold mr-2">
                                    <div class="text-truncate">Julia Cox</div>
                                    <div class="small text-gray-500">Art Designer
                                    </div>
                                </div>
                                <span class="ml-auto"><button type="button"
                                                              class="btn btn-outline-success btn-sm">Connent</button>
</span>
                            </div>
                            <div class="d-flex align-items-center osahan-post-header mb-3 people-list">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="images/user/s7.png" alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold mr-2">
                                    <div class="text-truncate">Robert Cook</div>
                                    <div class="small text-gray-500">@Photography
                                    </div>
                                </div>
                                <span class="ml-auto"><button type="button"
                                                              class="btn btn-outline-success btn-sm">Connent</button>
</span>
                            </div>
                            <div class="d-flex align-items-center osahan-post-header people-list">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="images/user/s8.png" alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold mr-2">
                                    <div class="text-truncate">Richard Bell</div>
                                    <div class="small text-gray-500">@Envato
                                    </div>
                                </div>
                                <span class="ml-auto"><button type="button"
                                                              class="btn btn-outline-success btn-sm">Connent</button>
</span>
                            </div>
                        </div>
                    </div>
                    <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center">
                        <img src="images/ads1.png" class="img-fluid" alt="{{ co.company_name }}">
                        <div class="p-3 border-bottom">
                            <h6 class="font-weight-bold text-gold">Miver Premium</h6>
                            <p class="mb-0 text-muted">Grow &amp; nurture your network</p>
                        </div>
                        <div class="p-3">
                            <button type="button" class="btn btn-outline-gold pl-4 pr-4"> ACTIVATE</button>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>

{% endblock %}